if user
  h1 Hello #{user.email}
  form(action='/login?_method=DELETE' method='POST')
    input(type='submit' value='Log out')
else
  h1 Hello Guest
  form(action='/login' method='GET')
    input(type='submit' value='Log in')
